/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */

quicksettings scalebox,
quicksettings .togglebox {
    padding: 0.666rem; /* 6px */
}

quicksettings scalebox scale {
    margin: 0.666rem 0.666rem 0; /* 6px */
}

quicksettings separator.horizontal {
    margin: 0.333rem 0; /* 3px */
}

quicksettings .image-button.toggle {
    border-radius: 1em;
}

quicksettings .image-button {
    border: none;
    box-shadow: none;
    min-height: 2.1666rem; /* 26px */
    min-width: 2.1666rem; /* 26px */
}

quicksettings .image-button {
    background: alpha(@text_color, 0.1);
}

quicksettings .image-button:checked {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

quicksettings .image-button:disabled {
    background: @insensitive_bg_color;
}

quicksettings .no-padding {
    padding: 0;
}

quicksettings .fullname-label {
    font-weight: 700;
}
