/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */

quicksettings box.font-size,
quicksettings .togglebox {
    padding: 0.666rem; /* 6px */
}

quicksettings .back-button {
    margin: 0.666rem 1.333rem; /* 6px 12px */
}

quicksettings box.font-size scale {
    margin: 0.666rem 0.666rem 0; /* 6px */
}

quicksettings separator.horizontal {
    margin: 0.333rem 0; /* 3px */
}

quicksettings .image-button.circular {
    border: none;
    box-shadow: none;
    min-height: 2.1666rem; /* 26px */
    min-width: 2.1666rem; /* 26px */
}

quicksettings .image-button.circular {
    background: alpha(@text_color, 0.1);
}

quicksettings .image-button:checked.circular {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

quicksettings .image-button:disabled.circular {
    background: @insensitive_bg_color;
}
